{% extends 'base.html' %}

<head>
   <title>{% block title %}Create Review{% endblock %}</title>
</head>
{% block content %}
<body>
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm mx-auto d-block text-center">
             <h1 style="color: rgb(255, 255, 255); margin-bottom:80px;">Create Review</h1>
          </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-6">
                <form method="post" enctype="multipart/form-data" style="color: rgb(255, 255, 255);">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_title" style="display: block; font-size: 20px;">Title:</label>
                        {{ form.title}}
                    </div>
                    <div class="form-group">
                        <label for="id_title" style="display: block; font-size: 20px;">Content:</label>
                        {{ form.content}}
                    </div>
                    <div class="form-group">
                        <label for="id_title" style="display: block; font-size: 20px;">Rating:</label>
                        {{ form.rating}}
                    </div>
                    <div class="form-group">
                        <label for="id_image" style="display: block; font-size: 20px;">Image:</label>
                        {{ form.image}}
                    </div>
                    <button class="registration-button" style="padding: 0px 10px 0px 10px; margin-left: 220px;" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}
