{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ anime_title }}{% endblock %}</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h1 class="review-title">{{ review.title }}</h1>
            </div>
        </div>
        <div class="row">
            <!-- Image and Anime Rating -->
            <div class="col-md-4">
                <img src="{{ review.image.url }}" alt="{{ review.title }}" class="img-fluid mb-3 review-img">
                <p style="color: white; font-size: 110%;">Anime Rating: {{ review.stars }} ({{ review.rating }}/5 stars)</p>
            </div>
            <!-- Review Content -->
            <div class="col-md-8">
                <p class="review-content">{{ review.content }}</p>
                <p class="review-info">
                    <span class="submitted-date">Submitted Review - [{{ review.posted_time}}]</span>
                    <span class="submitted-by">Submitted by: {{ review.user }}</span>
            </div>
            <div class="row mt-3">
                <div class="col-md-12 text-right">
                    <a href="" class="btn btn-warning">Edit Review</a>
                    <button type="submit" class="btn btn-danger">Delete Review</button>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Comment Section -->
            <div class="col-md-12">
                <h2 class="comment-section">Comments</h2>
              
            </div>
        </div>
    </div>
 
    {% endblock%}
</body>
</html>