{% extends "base.html" %}

{% block head %}
    {{ block.super }}
    <title>{% block title %}Home - Anime Reviews {% endblock %}</title>
    <!-- Link to Google Icons for Filter -->
    <link rel="stylesheet" href="https://fonts.google.com/icons?selected=Material+Symbols+Outlined:filter_list:FILL@0;wght@400;GRAD@0;opsz@24&icon.query=filter&icon.platform=web">

    <!-- Link to Google Icons for Sort -->
    <link rel="stylesheet" href="https://fonts.google.com/icons?selected=Material+Symbols+Outlined:sort:FILL@0;wght@400;GRAD@0;opsz@24&icon.query=filter&icon.platform=web">
{% endblock %}


{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Review Entries -->
        <div class="col-12 mt-3 left">
             <div class="row justify-content-center">
                <div class="google-icons">
                    <span class="material-symbols-outlined">
                        sort
                        </span>
                        <span class="material-symbols-outlined">
                            filter_alt
                            </span>
                </div>
                {% for review in review_list %}
                <div class="col-md-4 mb-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <img class="card-img" src="{{ review.image.url }}"alt="Image">
                                    <p class="user">submitted by {{ review.user}}</p>
                            </div>
                            <a href="{% url 'review_list' review.slug %}" class="review-link">
                                <h2 class="card-title">{{ review.title }}</h2>
                            </a>
                            <hr/>
                            <p class="card-text text-muted posted-time">{{ review.posted_time}}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
              </div>
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
             
            </div>
    </div>
</div>

{% endblock %}
