{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Log In" %}{% endblock title %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-6">
          <h1 class="registration text-center">{% trans "Log In" %}</h1>
          <p class="registration">{% blocktrans %}If you have not created an account yet, then please
          <a href="{{ signup_url }}" style="color: yellow;">register</a> first.{% endblocktrans %}</p>
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" class="registration-form" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="row" style="margin-bottom: 10px;">
            <a class="button" style="color: rgb(242, 242, 17);" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </div>
            <button class="registration-button" style="font-size: smaller;"type="submit">{% trans "Log In" %}</button>
          </form>
      </div>
    </div>
</div
{% endblock content %}
