{% extends 'base.html' %}

{% load static %}
<title>{% block title %}Edit Review{% endblock %}</title>
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm mx-auto d-block text-center">
            <h1 style="color: rgb(255, 255, 255); margin-bottom: 20px;">Edit Review</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-6">
            <div class="form-window">
                <!-- Form for editing the review -->
                <form method="POST" style="color: rgb(0, 0, 0);">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_title" style="display: block;">Title:</label>
                        {{ form.title }}
                    </div>
                    <div class="form-group">
                        <label for="id_content" style="display: block;">Content:</label>
                        {{ form.content }}
                    </div>
                    <div class="form-group">
                        <label for="id_rating" style="display: block;">Rating:</label>
                        {{ form.rating }}
                    </div>
                    <!-- Display existing image -->
                    <div class="form-group">
                        <label style="display: block;">Image:</label>
                        {% if form.instance.image %}
                        <img src="{{ form.instance.image.url }}" alt="Existing Image"
                            style="max-width: 75px; max-height: 75px;">
                        {% endif %}
                    </div>
                    <!-- Button to save changes -->
                    <div class="text-center">
                        <button id="saveChanges" class="btn btn-warning" style="margin-top: 20px;" type="submit">Save
                            Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}