* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: rgb(36, 11, 54);
    min-height: 100vh;
    
}


.nav-color {
    background-color: rgb(74, 78, 119);
}

.navbar .navbar-brand { 
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 300%;   
}

.logo {
     color: rgb(255, 255, 255);
}

.logo-r {
    font-size: 75%;
    color: rgb(255, 255, 255);
}

.navbar-collapse {
    justify-content: flex-end;
}

.nav-link {
    white-space: nowrap; 
    color: rgb(255, 255, 255);
}

.navbar-nav .nav-link:hover {
    color: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); 
}


.google-icons {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 25px;
}
.material-symbols-outlined {
    color: rgb(250, 233, 0);
    font-size: 250%;
}

.card {
    max-width: 300px; 
    margin: 0 auto; 
}

.card-img {
    width: 100%; 
    height: 350px; 
    object-fit: cover;
}

.card-title {
    font-size: 18px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}


.posted-time {
    font-size: 12px;
}

footer {
    position: fixed;
    bottom: 0;
    height: 75px;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(74, 78, 119);
    padding-top: 25px;
}


.review-title {
    color: rgb(255, 255, 255);
}

.review-content {
    color: rgb(255, 255, 255);
    padding: 10px; 
    max-width: 600px; 
    margin: 0 auto; 
    font-family: 'Lato', sans-serif;
    
}

.comments-section {
    color: rgb(255, 255, 255);
}

.submitted-date, .submitted-by {
    color: rgb(255, 255, 255);
    font-style: italic;
    flex: 1;
    font-size: 12px;
}

.review-img {
    width: 300px;
    height: auto; 
    padding-left: 60px;
   
}


.review-info {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    flex-wrap: wrap;
}


.submitted-date {
    text-align: center;
    margin-left: 100px;
}

.submitted-by {
    text-align: center;
    margin-right: 100px;
}

.registration {
    color: rgb(255  255 255);
}

.login {
    color:rgb(255, 255, 255);
}

.registration-button {
    color: rgb(0, 0, 0);
    font-size: 200%;
    background-color: rgb(255, 238, 0);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding: 2px;
    border-radius: 16px;
    
}
@media (max-width: 768px) {
    .submitted-date,
    .submitted-by {
        flex: 1 0 100%; 
        text-align: center; 
        margin: 0;

    }
}

